includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
	customRulesetUsed: true
	errorFormat: callmap
	paths:
		- src

rules:
	- PHPDepend\Callmap\Rule

services:
	errorFormatter.callmap:
		class: PHPDepend\Callmap\CallmapFormatter
	-
		class: PHPDepend\Callmap\MethodCallCollector
		tags:
			- phpstan.collector
